Cassandradriver.com requirements

- Python 2.7 (needed for Datastax Cassandra driver)
- python-pip (sudo apt-get install python-pip)
- python-dev (sudo apt-get install python-dev)
- sudo pip install futures
- sudo pip install blist
- sudo pip install metrics
- sudo pip install scales
- A web server able to execute python, Apache2 is recommended, but you can use others like Lighttp or Nginx.

If you want to use cassandra in the same server as the Cassandra Universal Driver you need:
- Oracle Java
- Cassandra 2

For the samples you will need:
- Samples bash:    sudo apt-get install curl libcurl3 libcurl3-dev php5-curl
- Samples PHP:     sudo apt-get install apache2
                   sudo apt-get install libapache2-mod-php5
- Samples node.js: npm install xml2js
